* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  height: 50px;
  background-color: #ff9a4b;
}

main {
  width: 960px;
  margin: 50px auto;
  display: flex;
  justify-self: center;
}
.content-box {
  width: 300px;
  margin-right: 30px;
  position: relative;
}
.content-box:last-child {
  margin-right: 0;
}
.content-label {
  background-color: #ff9a4b;
  color: #fff;
  position: absolute;
}
.content-main {
  padding: 10px;
  background-color: #eeeeee;
}
.content-image {
  height: 150px;
  background-size: cover;
  background-position: bottom;
}
.img-1 {
  background-image: url(img/flow01.png);
}
.img-2 {
  background-image: url(img/flow02.png);
}
.img-3 {
  background-image: url(img/flow03.png);
}
.content-title {
  margin: 15px 0 5px 0;
}

footer {
  width: 100%;
  height: 50px;
  background-color: #aaaaaa;
}

@media screen and (max-width: 768px) {
  main {
    width: 100%;
    display: block;
  }
  .content-box {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .content-box:last-child {
    margin: 0 auto;
  }
}